<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">name</th>
      <th scope="col">username</th>
      <th scope="col">Address</th>
      <th scope="col">Company</th>
      <th scope="col">email</th>
      <th scope="col">phone</th>
      <th scope="col">website</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usr of usuarioArray">
      <td>{{usr.id}}</td>
      <td>{{usr.name}}</td>
      <td>{{usr.username}}</td>
      <td class="h6">{{usr.address.city}}<br />
        {{usr.address.street}}<br />
        {{usr.address.suite}}<br />
        {{usr.address.zipcode}}<br />
        lat : {{usr.address.geo.lat}}
        lng: {{usr.address.geo.lng}}
      </td>
      <td class="h6">Nome:{{usr.company.name}}<br />
        Bs:{{usr.company.bs}}<br />
        Catch:{{usr.company.catchPhrase}}
      </td>
      <td>{{usr.email}}</td>
      <td>{{usr.phone}}</td>
      <td>{{usr.website}}</td>
    </tr>
  </tbody>
</table>