
<form class="m-3" #formPosts="ngForm" (ngSubmit)="onSubmit(formPosts)">
  <h4> Inserir Novo Post</h4>
  <div class="form-group">
    <select class="form-control" name="id" [(ngModel)]="post.userId">
      <option value="" selected>Selecione...</option>
      <option *ngFor="let item of userId">
        {{item}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label>Título</label>
    <input name="title" [(ngModel)]="post.title" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>Comentários</label>
    <input name="body" [(ngModel)]="post.body" type="text" class="form-control">
  </div>
  <div class="form-group">
    <button class="btn btn-danger btn-block">
      Enviar
    </button>
  </div>

</form>